<!DOCTYPE html>
<html lang="pt">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/image 1.png') }}" type="image/x-icon">
    <link
        href="https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,400;1,700&family=Poppins&family=Pridi&family=Raleway:wght@400;600&display=swap"
        rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
    <title>PragaZero</title>
</head>

<body>
    <header class="navbar">
        <div class="flex">
            <div class="dropend">
                <button type="button" class="btn dropdown mx-2" data-bs-toggle="dropdown" aria-expanded="false">
                    <img src="{{ url_for('static', filename='img/image.png') }}" alt="">
                </button>
                <ul class="dropdown-menu dropdown-menu-end">
                    <li><a class="dropdown-item" href="{{ url_for('index') }}">Início
                        </a></li>
                    <li><a class="dropdown-item" href="{{ url_for('lagartas') }}">Lagartas na agricultura
                        </a></li>
                    <li><a class="dropdown-item" href="{{ url_for('agrotoxico') }}">Uso de agrotóxicos</a></li>
                    <li><a class="dropdown-item" href="{{ url_for('gafanhotos') }}">Danos causados pelos gafanhotos
                        </a></li>
                    <li><a class="dropdown-item" href="{{ url_for('sobre_nos') }}">Quem somos?
                        </a></li>
                    <li><a class="dropdown-item" href="{{ url_for('cadastrar') }}">Fale conosco
                        </a></li>
                        <li><a class="dropdown-item" href="{{ url_for('listagem_sugestoes') }}">Sugestões dadas
                        </a></li>
                </ul>
            </div>
            <a class="link-nav" href="{{ url_for('index') }}">
                <h1><img src="{{ url_for('static', filename='img/image 1.png') }}" alt=""></h1>
            </a>
            <a class="link-nav" href="{{ url_for('index') }}">
                <h2 class="pragazero">PragaZero</h2>
            </a>
        </div>
        <form class="form flex mx-5">
            <!-- Input arredondado para pesquisa -->
            <input class="form-control mr-sm-2 rounded" type="text" placeholder="Pesquisar" aria-label="Pesquisar">
            <!-- Ícone de pesquisa -->
            <a class="nav-item ms-3" href="#"><img src="{{ url_for('static', filename='img/search.png') }}" alt=""></a>
          </form>
    </header>
    <main>
        <section>
            <div class="flex around">
                <div class="text" style="margin-bottom: 150px;">
                    <h1>Interessado(a) em saber como combater efetivamente as pragas na agricultura?</h1>
                    <p>As pragas de importância agrícola são as espécies que podem comprometer a produção de plantas
                        cultivadas.
                        Confira as informações abaixo para ficar por dentro do assunto!</p>
                </div>
                <div>
                    <img style="margin-top: 80px;" src="{{ url_for('static', filename='img/image 3.png') }}" alt="">
                </div>
            </div>
        </section>

        <div class="carrosel">
            <h3 class="tx-carrosel h3-carrosel">Aqui temos uma lista com alguns tópicos importantes sobre as pragas e
                como evitá-las :</h3>

            <div id="carouselExample" class="carousel slide allcarrosel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <div class="flex itens-carrosel">
                            <a href="{{ url_for('lagartas') }}" class="card-carrosel">
                                <img src="{{ url_for('static', filename='img/image 4.png') }}" alt="...">
                                <p class="tx-carrosel">Você conhece os impactos que as lagartas podem causar nas
                                    plantações? Confira já!</p>
                            </a>
                            <a href="{{ url_for('agrotoxico') }}" class="card-carrosel">
                                <img src="{{ url_for('static', filename='img/image 5.png') }}" alt="...">
                                <p class="tx-carrosel">Conheça as vantagens e desvantages do uso de agrotóxicos nas
                                    plantações!</p>
                            </a>
                            <a href="{{ url_for('gafanhotos') }}" class="card-carrosel">
                                <img src="{{ url_for('static', filename='img/image 6.png') }}" alt="...">
                                <p class="tx-carrosel">Saiba mais sobre os danos causados pelos gafanhotos nas
                                    plantações e como evitá-los!
                                </p>
                            </a>
                        </div>
                    </div>
                    <div class="carousel-item ">
                        <div class="flex itens-carrosel">
                            <a href="{{ url_for('agrotoxico') }}" class="card-carrosel">
                                <img src="{{ url_for('static', filename='img/image 5.png') }}" alt="...">
                                <p class="tx-carrosel">Conheça as vantagens e desvantages do uso de agrotóxicos nas
                                    plantações!</p>
                            </a>
                            <a href="{{ url_for('gafanhotos') }}" class="card-carrosel">
                                <img src="{{ url_for('static', filename='img/image 6.png') }}" alt="...">
                                <p class="tx-carrosel">Saiba mais sobre os danos causados pelos gafanhotos nas
                                    plantações e como evitá-los!
                                </p>
                            </a>
                            <a href="{{ url_for('lagartas') }}" class="card-carrosel">
                                <img src="{{ url_for('static', filename='img/image 4.png') }}" alt="...">
                                <p class="tx-carrosel">Você conhece os impactos que as lagartas podem causar nas
                                    plantações? Confira já!</p>
                            </a>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="flex itens-carrosel">
                            <a href="{{ url_for('gafanhotos') }}" class="card-carrosel">
                                <img src="{{ url_for('static', filename='img/image 6.png') }}" alt="...">
                                <p class="tx-carrosel">Saiba mais sobre os danos causados pelos gafanhotos nas
                                    plantações e como evitá-los!
                                </p>
                            </a>
                            <a href="{{ url_for('lagartas') }}" class="card-carrosel">
                                <img src="{{ url_for('static', filename='img/image 4.png') }}" alt="...">
                                <p class="tx-carrosel">Você conhece os impactos que as lagartas podem causar nas
                                    plantações? Confira já!</p>
                            </a>
                            <a href="{{ url_for('agrotoxico') }}" class="card-carrosel">
                                <img src="{{ url_for('static', filename='img/image 5.png') }}" alt="...">
                                <p class="tx-carrosel">Conheça as vantagens e desvantages do uso de agrotóxicos nas
                                    plantações!</p>
                            </a>
                        </div>
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample"
                    data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExample"
                    data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>

        <section class="flex center" style="justify-content: center;">
            <div class="flex around">
                <div style="margin-right: 15px;">
                    <img src="{{ url_for('static', filename='img/image 7.png') }}" alt="">
                </div>
                <div style="margin-left: 15px;" class="text">
                    <h1 style="text-align: center;">
                        Melhore suas técnicas de controle e seja mais produtivo
                    </h1>
                    <p style="text-align: center;">
                        Aqui você tem uma variedade de informações que podem te ajudar no controle e manejo das pragas!
                        Veja as que melhores se encaixam para o seu tipo de agricultura e não deixe de adicioná-las em
                        seu dia a dia!
                    </p>

                </div>
            </div>
        </section>

        <div class="flex center" style="flex-direction: column; ">
            <h1 style="margin-top: 30px;" class="title-agro">Para que servem os agrotóxicos?</h1>
            <div class="flex around" style="margin: 5%;">
                <div style="width: 50%;">
                    <p>Classificação Toxicológica</p>
                    <img src="{{ url_for('static', filename='img/image 8.png') }}" alt="">
                </div>
                <div class="texto-agro" style="width: 50%;">
                    <p>
                        Os agrotóxicos são compostos químicos, físicos ou biológicos amplamente empregados no setor
                        agropecuário, especialmente em monoculturas. Ainda que o uso dessas substâncias contribua para o
                        aumento da produtividade das lavouras, é importante destacar que órgãos como a Organização
                        Mundial
                        da Saúde e a Agência Nacional de Vigilância Sanitária advertem sobre os riscos à saúde e ao meio
                        ambiente quando são manuseados de forma inadequada.
                    </p>
                    <p>
                        A Anvisa classifica os agrotóxicos em quatro classes de danos à saúde humana: pouco tóxicos,
                        medianamente tóxicos, altamente tóxicos e extremamente tóxicos. Nos rótulos desses produtos,
                        além
                        das cores que representam cada classe, são indicadas também as doses de letalidade de cada uma.
                    </p>
                </div>
            </div>
        </div>
    </main>
    <footer>
        <div class="flex around" style="padding: 5%;">
            <div>
                <h1>PragaZero</h1>
                <div class="flex around">
                    <img href ="#" src="{{ url_for('static', filename='img/facebook.png') }}" alt="">
                    <img href ="#" src="{{ url_for('static', filename='img/instagram.png') }}" alt="">
                    <img href ="#" src="{{ url_for('static', filename='img/twitter-sign.png') }}" alt="">
                    <img href ="#" src="{{ url_for('static', filename='img/tiktok.png') }}" alt="">
                </div>
            </div>
            <div class="flex around">
                <div style="margin-right: 15px;">
                    <h2>Sobre nós</h2>
                    <a href="{{ url_for('sobre_nos') }}">Quem somos?</a>
                </div>
                <div style="margin-left: 15px;">
                    <h2>Sugestões?</h2>
                    <a href="{{ url_for('cadastrar') }}">Clique aqui</a>
                </div>
            </div>
        </div>
    </footer>

</body>

</html>